body {
  margin: 0;
    font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    display: inline-block;
    width: fit-content;
    color:#cad3f5;
    padding: 1px 3px;
    border-radius: 5px;
    background: #24273a;
}

a{
  text-decoration: none;
  color: inherit;
}
