body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color:#cad3f5;
    padding: 1px 3px;
    border-radius: 5px;
    background: #24273a;
}

a{
  text-decoration: none;
  color: inherit;
}
