body {
  margin: 0;
    font-family: system-ui,'JetBrains Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    display: inline-block;
    width: fit-content;
    color:#4c4f69;
    padding: 1px 3px;
    border: 1px solid #7c7f93;
    border-radius: 5px;
    background: #acb0be;
}

a{
  text-decoration: none;
  color: inherit;
}
